h1{
    text-align: center;
}
section {
    position: relative;
    width: 30%;
    float: left;
    margin: auto 10px;
    border: 1px solid #5632;
    box-sizing: border-box;
}
h3 {
    position:relative;
    margin: 0;
    top: 0;
    float: right;
    width: 70px;
    text-align: center;
    border: 1px solid black;
}
p{
    clear: right;
    padding: 10px;
}